body {background-color:#F8F4F3; overflow-x:hidden;}
/* -------- header -------- */
header {
    position:fixed; left:0; top:0; z-index:99999;
    display:flex; flex-flow:column nowrap;
}
header .top_banner {
    width:100vw; padding:0 20px; height:48px; background-color:#A36D6A; display:inline-flex;
    justify-content:center; align-items:center;
}
@keyframes display {
    0% {height:48px; overflow:visible;}
    100% {height:0; overflow:hidden;}
}
header .top_banner p:first-child {
    color:#fff; display:flex; align-items:center;
}
header .top_banner p em {font-weight:600; margin:0 4px;}
header .top_banner p:first-child::after {
    content:''; display:inline-block;
    background-image:url(../images/ticket_icn.svg);
    background-repeat:no-repeat; background-size:cover;
    width:24px; height:24px; margin-left:8px; transform:translateY(-1px);
}
header .top_banner .close {position:absolute; right:20px; width:24px; height:48px; display:flex;}
header .top_banner .close img {width:100%;}
header .h_main {
    background:linear-gradient(180deg, #fff, rgba(255,255,255,0.7) , rgba(255,255,255,0)); height:120px; display:flex; padding:0 70px; width:100vw;
    justify-content:space-between; align-items:center; position:relative;
}
header .h_main h1 {position:relative; z-index:10;}
header .h_main h1 a {}
header .h_main h1 a img {width:100%;}
header .h_main nav {position:absolute; width:100%; z-index:1; left:0;}
header .h_main nav .gnb {
    display:flex; justify-content:center; align-items:flex-start; height:max-content;
}
header .h_main nav .gnb li {margin-right:80px;}
header .h_main nav .gnb li:last-child {margin-right:0;}
/* gnb li hover 시 라인 나타나기 */
header .h_main nav .gnb li a {
    font-family: "Readex Pro", sans-serif; display:flex; flex-flow:column nowrap; justify-content:flex-start; align-items:center;
    color:#A36D6A; font-weight:500; line-height:32px;
}
header .h_main nav .gnb li a::after {
    content:''; display:inline-block; width:0; height:2px; background-color:#A36D6A;
    transition:width 0.5s;
}
header .h_main nav .gnb li a:hover::after {width:100%;}
/* sub 초기값 숨기기 */
header .h_main nav .gnb li .sub {display:none;}
header .h_main nav .gnb li .sub a {}
header .h_main .lnb {position:relative; z-index:10; display:flex;}
header .h_main .lnb a {width:36px; height:36px; margin-right:6px; transition:opacity 0.3s;}
header .h_main .lnb a:hover {opacity:0.6;}
header .h_main .lnb a:last-child {margin-right:0;}
header .h_main .lnb a img {width:100%;}

/* -------- main -------- */
main {}
/* --- 1. intro --- */
main .intro {height:100vh; display:flex; align-items:center;}
main .intro .left ,main .intro .right {width:50%; height:100%; position:relative; text-align:center;}
/* 왼쪽 제품 swipe */
main .intro .left {display:flex; justify-content:center; align-items:center;}
main .intro .left > p {position:absolute; left:25%; top:35%; width:50%; opacity:0.1;}
main .intro .left > p > img {width:100%;}
main .intro .left .main_swiper {}
main .intro .left .main_swiper .swiper-slide {}
main .intro .left .main_swiper .swiper-slide .main_pd h2 {font-size:2rem; font-weight:700; color:#A36D6A;}
main .intro .left .main_swiper .swiper-slide .main_pd p:nth-child(3) {
    font-size:1.25rem; font-weight:500; color:#A36D6A;
    margin:16px 0 28px;
}
/* view more 디자인 */
main .more {
    font-family: "Readex Pro", sans-serif; color:#A36D6A;
    border:1px solid #A36D6A; height:44px; padding:0 16px; display:inline-block;
    display:inline-flex; align-items:center; justify-content:center;
}
main .more::after {
    content:''; display:inline-block; margin-left:-24px; opacity:0;
    background-image:url(../images/arrow_right_icn.svg); width:24px; height:24px;
    background-position:center; background-repeat:no-repeat; background-size:cover;
    transition:opacity 0.5s, margin-left 0.5s;
}
main .more:hover::after {
    opacity:1; margin-left:4px;
}
/* 페이지네이션 디자인 */
main .intro .left .swiper-pagination {
    background-color:#d9d9d9; width:40%; height:4px; left:30%;
    border-radius:2px; top:86%;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    height:100%; display:inline-block;
    background-color:#A36D6A; border-radius:2px;
}
/* 오른쪽 모델 swipe */
main .intro .right .model_swiper {}
main .intro .right .model_swiper .swiper-slide .main_model {/* 모델이미지 공통 속성 */
    position:relative;
    background-image:url(../images/model_1.jpg); width:100%; height:100vh;
    background-position:center; background-size:cover; background-repeat:no-repeat;
}
main .intro .right .model_swiper .swiper-slide .model_2 {background-image:url(../images/model_2.jpg);}
main .intro .right .model_swiper .swiper-slide .model_3 {background-image:url(../images/model_3.jpg);}
/* 가운데 gradient */
main .intro .right > .gradient {
    height:100%; width:20%; position:absolute; left:0; top:0; z-index:9999; background:linear-gradient(90deg, #F8F4F3, rgba(248, 244, 243, 0));
}
/* e:intro */
/* --- 2. most loved --- */
main .mloved {position:relative; text-align:center; height:825px;}
main .mloved > p {position:absolute; left:0; top:0; z-index:900;}
main .mloved > p:nth-child(2) {z-index:10000;}
main .mloved h1 {
    font-family: "Readex Pro", sans-serif; padding:100px 0 45px;
    font-size:2.813rem; font-weight:500; color:#A36D6A;
}
/* mloved 제품 슬라이드 */
main .mloved .mloved_swiper {z-index:1000; padding-left:36px;}
main .mloved .mloved_swiper .mloved_pd {}
main .mloved .mloved_swiper .mloved_pd h2 {font-size:1.125rem; font-weight:700; margin-bottom:12px;}
main .mloved .mloved_swiper .mloved_pd > p {font-weight:700; color:#A36D6A;}
main .mloved .mloved_swiper .mloved_pd > p em {font-size:0.875rem; color:#4e4e4e; text-decoration:line-through; margin-right:4px;}
main .mloved .mloved_swiper .mloved_pd a img {transition:transform 0.5s;}
main .mloved .mloved_swiper .mloved_pd a img:hover {
    transform:translateY(-16px);
}
/* e:most loved */
/* --- 3. pd_banner --- */
main .pd_banner {height:780px; display:flex; align-items:center; justify-content:flex-start; position:relative;}
main .pd_banner .left, main .pd_banner .right {width:50%; height:100%;}
main .pd_banner > .left {
    background-image:url(../images/model_2.jpg); background-position:center;
    background-size:cover;
}
main .pd_banner > p {position:absolute; left:40%; top:18%;}
main .pd_banner .right {
    background-color:#EFEBE4; border-bottom-right-radius:350px;
    display:flex; flex-flow:column nowrap; justify-content:center; align-items:center;
}
main .pd_banner .right h1 {font-size:2.813rem; font-weight:700; color:#A36D6A;}
main .pd_banner .right h2 {
    font-family: "Readex Pro", sans-serif;
    font-size:1.125rem; font-weight:300; color:#A36D6A;
    text-transform:uppercase; margin:16px 0 32px;
}
main .pd_banner .right p {font-size:1.25rem; font-weight:500; color:#A36D6A; margin-bottom:48px;}
/* e:pd_banner */
/* --- 4. make-up --- */
main .makeup {text-align:center; max-width:1640px; margin:0 auto;}
main .makeup h1 {
    font-family: "Readex Pro", sans-serif;
    font-size:2.813rem; font-weight:500; color:#A36D6A;
    padding:140px 0 40px;
}
main .makeup .category {
    display:inline-flex; justify-content:center; align-items:center;
    position:relative;
}
main .makeup .category .cg_bg {
    display:inline-block;
    width:106px; height:47px; border-radius:40px; background-color:#A36D6A;
    position:absolute; z-index:-1; left:0;
}
main .makeup .category > a {
    font-family: "Readex Pro", sans-serif;
    font-size:1.125rem; font-weight:500; color:#A36D6A;
    width:106px; line-height:47px; display:inline-block;
}
main .makeup .category > a:nth-child(2) {color:#fff; font-weight:400;}
main .makeup .sub_bg {
    width:100%; height:max-content; display:flex; justify-content:center;
    margin-top:24px;
}
main .makeup .sub_bg .sub_cg {
    justify-content:center; align-items:center;
    background-color:#fff;
    display:none; width:max-content; padding:0 36px; height:max-content;
    border-radius:80px;
}
main .makeup .sub_bg .sub_cg:first-child {display:flex;}
main .makeup .sub_bg .sub_cg > li {margin-right:36px;}
main .makeup .sub_bg .sub_cg > li:last-child {margin-right:0;}
main .makeup .sub_bg .sub_cg > li > a {
    font-size:0.875rem; font-weight:700; color:#4e3836; display:inline-block;
    line-height:49px; border-bottom:3px solid rgba(78, 56, 54, 0);
}
main .makeup .sub_bg .sub_cg > li:first-child > a {border-bottom:3px solid rgba(78, 56, 54, 1);}
/* view more */
main .makeup .more_link {text-align:right; margin:26px 0 10px;}
main .makeup .more_link .more {border:none;}
/* item_wrap */
main .makeup .item_wrap {display:none; flex-flow:row wrap; justify-content:flex-start;}
main .makeup .item_lip {display:flex;}
/* item */
main .makeup .item_wrap .item {width:calc((100% - 60px) / 4); margin-right:20px;}
main .makeup .item_wrap .item:first-child,
main .makeup .item_wrap .item:nth-child(2),
main .makeup .item_wrap .item:nth-child(3),
main .makeup .item_wrap .item:nth-child(4) {margin-bottom:50px;}
main .makeup .item_wrap .item:nth-child(4), main .makeup .item_wrap .item:last-child {margin-right:0;}
main .makeup .item_wrap .item p {position:relative;}
main .makeup .item_wrap .item p img {width:100%;}
main .makeup .item_wrap .item p .pd_more {
    position:absolute; bottom:24px; left:0; width:calc(100% - 40px); margin:0 20px; line-height:44px; border:1px solid #fff; background-color:transparent;
    font-weight:500; color:#fff;
    display:flex; align-items:center; justify-content:center;
    display:none; /* 버튼 초기값 숨기기 */
}
main .makeup .item_wrap .item p .pd_more::after {
    content:''; display:inline-block;
    background-repeat:no-repeat; background-size:cover;
    width:24px; height:24px; background-image:url(../images/arrow_right_icn.svg); filter:brightness(6); margin-left:12px;
}
/* item info */
main .makeup .item_wrap .item .btm {padding:12px 6px; display:flex; justify-content:space-between; align-items:flex-start;}
main .makeup .item_wrap .item .btm .info {text-align:left;}
main .makeup .item_wrap .item .btm .info h2 {font-size:1.125rem; font-weight:700;}
main .makeup .item_wrap .item .btm .info .price {font-weight:700; color:#A36D6A; margin-top:16px;}
main .makeup .item_wrap .item .btm .info .price del {font-size:0.875rem; color:#4e4e4e; text-decoration:line-through; margin-right:6px; font-weight:500;}
/* 좋아요&장바구니 버튼 */
main .makeup .item_wrap .item .btm .user_like * {border:0; width:30px;}
main .makeup .item_wrap .item .btm .user_like .like_btn.filled img {content:url(../images/like_fill_icn.svg);}
main .makeup .item_wrap .item .btm .user_like .cart_btn.filled img {content:url(../images/cart_fill_icn.svg);}
/* e:make-up */
/* 5. brand_banner_2 */
main .brand_banner {
    margin-top:140px; background-image:url(../images/brand_banner.jpg);
    padding:100px 140px; height:600px; background-position:center;
    background-repeat:no-repeat; background-size:cover;
    display:flex; flex-flow:column nowrap; align-items:flex-start; justify-content:space-between;
}
main .brand_banner .brand_txt {}
main .brand_banner .brand_txt h1 {
    font-family: "Readex Pro", sans-serif;
    font-size:2.938rem; font-weight:500; color:#fff;
}
main .brand_banner .brand_txt p:nth-child(2) {margin:46px 0 16px}
main .brand_banner .brand_txt p span {
    font-family: "Readex Pro", sans-serif;
    font-size:2.25rem; color:#fff;
}
main .brand_banner .brand_txt p img {filter:brightness(6); width:15%; margin-left:10px;}
main .brand_banner .brand_txt p:last-child {font-size:1.25rem; color:#fff; font-weight:600; line-height:1.5;}
main .brand_banner .more {border:0; background-color:#fff;}
/* 6. pd_banner 2 */
main .pd_banner_2 {
    height:780px; display:flex; align-items:center; justify-content:flex-start; position:relative;
    margin-top:140px;
}
main .pd_banner_2 .left, main .pd_banner_2 .right {width:50%; height:100%;}
main .pd_banner_2 .left {
    background-color:#E0D5DD; border-bottom-left-radius:350px;
    display:flex; flex-flow:column nowrap; justify-content:center; align-items:center;
}
main .pd_banner_2 .left h1 {font-size:2.813rem; font-weight:700; color:#A36D6A;}
main .pd_banner_2 .left h2 {
    color:#A36D6A; margin:6px 0 32px;
}
main .pd_banner_2 .left h2 {
    font-family: "Readex Pro", sans-serif;
    font-size:1.125rem; font-weight:300; color:#A36D6A;
    text-transform:uppercase; margin:16px 0 32px;
}
main .pd_banner_2 .left > p {font-size:1.25rem; font-weight:500; color:#A36D6A; margin-bottom:48px;}
main .pd_banner_2 > p {position:absolute; left:37.5%; top:20%; width:25%;}
main .pd_banner_2 > p img {width:100%;}
main .pd_banner_2 > .right {
    background-image:url(../images/model_4.jpg); background-position:center;
    background-size:cover;
}
/* e:brand_banner_2 */
/* 6. event_banner */
main .event {display:flex; align-items:center; margin-top:140px;}
main .event .event_banner {width:50%; height:450px; overflow:hidden;}
main .event a {
    width:100%; display:flex; flex-flow:column nowrap; justify-content:center; align-items:center; background-repeat:no-repeat;
    background-image:url(../images/event_banner_1.jpg);
    height:100%; background-size:100%; background-position:center;
    transition:background-size 0.3s;
}
main .event .event_banner:last-child a {background-image:url(../images/event_banner_2.jpg);}
main .event a:hover {background-size:105%;}
main .event a * {color:#fff; text-transform:uppercase;}
main .event a h1 {
    font-family: "Readex Pro", sans-serif;
    font-size:1.125rem;
}
main .event a h2 {
    font-family: "Readex Pro", sans-serif;
    font-size:2.25rem; font-weight:600;
    margin:34px 0 22px;
}
main .event a p {font-size:1.25rem; font-weight:500;}
/* -------- footer -------- */
footer {background-color:#A36D6A; margin-top:140px; padding:70px; display:flex; justify-content:space-between; align-items:flex-start;}
footer .left {}
footer .left a {}
footer .left p {color:#fff;}
footer .left p:nth-child(2) {font-weight:300; line-height:1.7; margin:36px 0;}
footer .left p a {color:#fff; transition:opacity 0.3s;}
footer .left a:hover {opacity:0.7;}
footer .right {display:flex; align-items:flex-start; justify-content:flex-end;}
footer .right * {color:#fff;}
footer .right a {transition:opacity 0.3s;}
footer .right a:hover {opacity:0.7;}
footer .right > div {margin-left:140px;}
footer .right .center {margin-left:0;}
footer .right h2 {
    font-family: "Readex Pro", sans-serif;
    font-weight:700; text-transform:uppercase; margin-bottom:16px;
}
footer .right h2 a {font-weight:700;}
footer .right h2 a:hover {opacity:0.7;}
footer .right div p:nth-child(2),
footer .right div a:nth-child(2) {margin-bottom:8px;}
footer .right div a {display:block;}
footer .right .center h2 a,
footer .right .sns_link a {display:inline-block;} 
footer .right .partner {margin-top:38px;}